body {
    background-color: #9fa9bf;
    color: #333c4a;
}

img {
    max-width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 25px;
    font-weight: bolder;
}

.title {
    display: block;
    font-size: 60px;
    align-self: center;
}

.elements {
    display: flex;
    justify-content: center;
    align-items: center;
}

.padElem {
    padding-left: 100%;
}